#help
{
    width:800px;
    height:150px;
    line-height:20px;
    background-color:Silver;
    border-radius:10px;
    }
#title
{
    height:40px;
    line-height:40px;
    }
.description
{
    width:800px;
    height:30px;
    line-height:30px;
    background-color:Silver;
    border-radius:4px;    
    }
.line
{
    width:500px;
    height:300px;
    width:500px;
    height:300px;
    background-color:skyblue;
    font-size:10pt;       
}